DB_SERVER=127.0.0.1
DB_NAME=ChatbotNissanDB
DB_USER=sa
DB_PASSWORD=tu_password
PORT=3000
TOKEN_VERIFICACION=change_me
PHONE_NUMBER_ID=tu_phone_number_id
META_TOKEN=tu_meta_token
GEMINI_API_KEY=tu_gemini_key
GEMINI_MODEL=gemini-3.5-flash